Repository aws-amplify/aws-sdk-android, pull requests merged in 2018-11, with the labels that each got.

#563 Add millis prefix to seconds in CognitoIdentityProviderClientConfig.
  aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/util/CognitoIdentityProviderClientConfig.java
Labels: Cognito, pull request

#572 Update README.md with new documentation
  README.md
Labels: pull request

#569 Added new method to allow developers to specify clean session
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManager.java
Labels: IoT, pull request
