Repository aws-amplify/aws-sdk-android, pull requests merged in 2018-12, with the labels that each got.

#593 Update CognitoSecretHash.java
  aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/util/CognitoSecretHash.java
Labels: Cognito, pull request

#601 Prevent HandlerThread leak of AWSIotMqttManager
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManager.java
Labels: IoT, pending, pull request

#608 Use intent to pass custom flags
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/Auth.java
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/AuthClient.java
Labels: Cognito, pull request

#614 Add iot unit and integrations tests
  aws-android-sdk-iot/build.gradle
  aws-android-sdk-iot/pom.xml
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AWSIotClientIdHelperTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttLastWillAndTestamentTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManagerTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttQosTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttQueueMessageTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttTopicTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AWSIotSslUtilityTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/Asn1ObjectTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AwsIotEndpointUtilityTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/IntegrationTestBase.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/MockDeliveryToken.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/MockMqttClient.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/MqttManagerIntegrationTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/TopicMatchTest.java
Labels: IoT

#427 Fix pubs while reconnecting
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManager.java
Labels: IoT, pull request

#629 Fix pinpoint PutEvents response unmarshaller
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/services/pinpoint/model/transform/PutEventsResultJsonUnmarshaller.java
  aws-android-sdk-pinpoint/src/test/java/com/amazonaws/mobileconnectors/pinpoint/PinpointAnalyticsIntegrationTest.java
Labels: Pinpoint, pull request
