Repository aws-amplify/aws-sdk-android, pull requests merged in 2019-03, with the labels that each got.

#755 [S3] Add IntelligentTiering storage class
  CHANGELOG.md
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/MultiThreadedDownloadIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/StorageClassIntegrationTest.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/services/s3/model/StorageClass.java
Labels: Pull Request, S3

#763 Fixing testutils build.gradle
  .gitignore
  aws-android-sdk-testutils/build.gradle
Labels: Infrastructure, Pull Request

#771 Secure information stored in SharedPreferences
  .circleci/config.yml
  .gitignore
  CHANGELOG.md
  CircleciScripts/run_integrationtest.py
  aws-android-sdk-auth-core/src/main/java/com/amazonaws/mobile/auth/core/IdentityManager.java
  aws-android-sdk-cognitoauth/build.gradle
  aws-android-sdk-cognitoauth/pom.xml
  aws-android-sdk-cognitoauth/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoauth/CognitoAuthIntegrationTestBase.java
  aws-android-sdk-cognitoauth/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoauth/LocalDataManagerIntegrationTest.java
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/Auth.java
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/AuthClient.java
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/util/LocalDataManager.java
  aws-android-sdk-cognitoidentityprovider-test/.gitignore
  aws-android-sdk-cognitoidentityprovider-test/build.gradle
  aws-android-sdk-cognitoidentityprovider-test/proguard-rules.pro
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/CognitoIdentityProviderUnitTestBase.java
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/auth/CognitoIdentityProviderChangePasswordInstrumentedTest.java
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/auth/CognitoIdentityProviderDevicesTest.java
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/auth/CognitoIdentityProviderGetUserTest.java
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/auth/CognitoIdentityProviderUpdateDetailsTest.java
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/unauth/CognitoIdentityProviderConfirmUserTest.java
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/unauth/CognitoIdentityProviderForgotPasswordTest.java
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/unauth/CognitoIdentityProviderPinpointTests.java
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/unauth/CognitoIdentityProviderSignInUserTest.java
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/unauth/CognitoIdentityProviderUserPoolTest.java
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/utils/FlowTracker.java
  aws-android-sdk-cognitoidentityprovider-test/src/main/AndroidManifest.xml
  aws-android-sdk-cognitoidentityprovider-test/src/main/res/values/strings.xml
  aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/CognitoUser.java
  aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/CognitoUserPool.java
  aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/util/CognitoDeviceHelper.java
  aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/util/CognitoPinpointSharedContext.java
  aws-android-sdk-core-test/.gitignore
  aws-android-sdk-core-test/build.gradle
  aws-android-sdk-core-test/proguard-rules.pro
  aws-android-sdk-core-test/src/androidTest/java/com/amazonaws/internal/keyvaluestore/AWSKeyStoreCorruptionIntegrationTest.java
  aws-android-sdk-core-test/src/androidTest/java/com/amazonaws/internal/keyvaluestore/AWSKeyStoreIntegrationTest.java
  aws-android-sdk-core-test/src/androidTest/java/com/amazonaws/internal/keyvaluestore/AWSKeyStoreNoCachingIntegrationTest.java
  aws-android-sdk-core-test/src/androidTest/java/com/amazonaws/internal/keyvaluestore/CognitoCachingCredentialsProviderIntegrationTest.java
  aws-android-sdk-core-test/src/androidTest/java/com/amazonaws/internal/keyvaluestore/CoreIntegrationTestBase.java
  aws-android-sdk-core-test/src/main/AndroidManifest.xml
  aws-android-sdk-core-test/src/main/res/values/strings.xml
  aws-android-sdk-core/aws-android-sdk-core.iml-e
  aws-android-sdk-core/build.gradle
  aws-android-sdk-core/pom.xml
  aws-android-sdk-core/src/main/java/com/amazonaws/auth/CognitoCachingCredentialsProvider.java
  aws-android-sdk-core/src/main/java/com/amazonaws/internal/ResettableInputStream.java
  aws-android-sdk-core/src/main/java/com/amazonaws/internal/keyvaluestore/AWSKeyValueStore.java
  aws-android-sdk-core/src/main/java/com/amazonaws/internal/keyvaluestore/KeyProvider.java
  aws-android-sdk-core/src/main/java/com/amazonaws/internal/keyvaluestore/KeyProvider10.java
  aws-android-sdk-core/src/main/java/com/amazonaws/internal/keyvaluestore/KeyProvider18.java
  aws-android-sdk-core/src/main/java/com/amazonaws/internal/keyvaluestore/KeyProvider23.java
  aws-android-sdk-core/src/main/java/com/amazonaws/util/TimingInfoUnmodifiable.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientTest.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientTestBase.java
  aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java
  settings.gradle
Labels: AWSMobileClient, Cognito, Core, Pull Request

#772 [2.12.3] Bump the patch version
  aws-android-sdk-apigateway-core/pom.xml
  aws-android-sdk-auth-core/pom.xml
  aws-android-sdk-auth-facebook/pom.xml
  aws-android-sdk-auth-google/pom.xml
  aws-android-sdk-auth-ui/pom.xml
  aws-android-sdk-auth-userpools/pom.xml
  aws-android-sdk-autoscaling/pom.xml
  aws-android-sdk-cloudwatch/pom.xml
  aws-android-sdk-cognito/pom.xml
  aws-android-sdk-cognito/src/main/resources/fabric/com.amazonaws.aws-android-sdk-cognito.properties
  aws-android-sdk-cognitoauth/pom.xml
  aws-android-sdk-cognitoidentityprovider/pom.xml
  aws-android-sdk-comprehend/pom.xml
  aws-android-sdk-core/pom.xml
  aws-android-sdk-core/src/main/java/com/amazonaws/util/VersionInfoUtils.java
  aws-android-sdk-core/src/main/resources/fabric/com.amazonaws.aws-android-sdk-core.properties
  aws-android-sdk-core/src/test/java/com/amazonaws/util/VersionInfoUtilsTest.java
  aws-android-sdk-ddb-document/pom.xml
  aws-android-sdk-ddb-mapper/pom.xml
  aws-android-sdk-ddb/pom.xml
  aws-android-sdk-ec2/pom.xml
  aws-android-sdk-elb/pom.xml
  aws-android-sdk-iot/pom.xml
  aws-android-sdk-kinesis/pom.xml
  aws-android-sdk-kinesisvideo-archivedmedia/pom.xml
  aws-android-sdk-kinesisvideo/pom.xml
  aws-android-sdk-kms/pom.xml
  aws-android-sdk-lambda/pom.xml
  aws-android-sdk-lex/pom.xml
  aws-android-sdk-logs/pom.xml
  aws-android-sdk-machinelearning/pom.xml
  aws-android-sdk-mobile-client/pom.xml
  aws-android-sdk-mobileanalytics/pom.xml
  aws-android-sdk-pinpoint/pom.xml
  aws-android-sdk-polly/pom.xml
  aws-android-sdk-rekognition/pom.xml
  aws-android-sdk-s3/pom.xml
  aws-android-sdk-sdb/pom.xml
  aws-android-sdk-ses/pom.xml
  aws-android-sdk-sns/pom.xml
  aws-android-sdk-sqs/pom.xml
  aws-android-sdk-transcribe/pom.xml
  aws-android-sdk-translate/pom.xml
  pom.xml
Labels: Pull Request

#775 Modularize Android integration tests
  .circleci/config.yml
  CircleciScripts/run_integrationtest.py
  CircleciScripts/utils.py
Labels: Infrastructure, Pull Request

#781 Fix a bug where migrating expirationDate in CognitoCachingCredentialsProvider crashes
  .gitignore
  aws-android-sdk-core-test/src/androidTest/java/com/amazonaws/internal/keyvaluestore/AWSKeyValueStoreMigrationIntegrationTest.java
  aws-android-sdk-core/src/main/java/com/amazonaws/internal/keyvaluestore/AWSKeyValueStore.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/CleanupBucketIntegrationTests.java
Labels: Core, Pull Request

#765 Added API to accept key-value pairs which are appended to the connection username
  CHANGELOG.md
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManager.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManagerTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/MqttManagerIntegrationTest.java
Labels: IoT, Pull Request

#792 Bump version 2.12.5
  aws-android-sdk-apigateway-core/pom.xml
  aws-android-sdk-auth-core/pom.xml
  aws-android-sdk-auth-facebook/pom.xml
  aws-android-sdk-auth-google/pom.xml
  aws-android-sdk-auth-ui/pom.xml
  aws-android-sdk-auth-userpools/pom.xml
  aws-android-sdk-autoscaling/pom.xml
  aws-android-sdk-cloudwatch/pom.xml
  aws-android-sdk-cognito/pom.xml
  aws-android-sdk-cognito/src/main/resources/fabric/com.amazonaws.aws-android-sdk-cognito.properties
  aws-android-sdk-cognitoauth/pom.xml
  aws-android-sdk-cognitoidentityprovider/pom.xml
  aws-android-sdk-comprehend/pom.xml
  aws-android-sdk-core/pom.xml
  aws-android-sdk-core/src/main/java/com/amazonaws/util/VersionInfoUtils.java
  aws-android-sdk-core/src/main/resources/fabric/com.amazonaws.aws-android-sdk-core.properties
  aws-android-sdk-core/src/test/java/com/amazonaws/util/VersionInfoUtilsTest.java
  aws-android-sdk-ddb-document/pom.xml
  aws-android-sdk-ddb-mapper/pom.xml
  aws-android-sdk-ddb/pom.xml
  aws-android-sdk-ec2/pom.xml
  aws-android-sdk-elb/pom.xml
  aws-android-sdk-iot/pom.xml
  aws-android-sdk-kinesis/pom.xml
  aws-android-sdk-kinesisvideo-archivedmedia/pom.xml
  aws-android-sdk-kinesisvideo/pom.xml
  aws-android-sdk-kms/pom.xml
  aws-android-sdk-lambda/pom.xml
  aws-android-sdk-lex/pom.xml
  aws-android-sdk-logs/pom.xml
  aws-android-sdk-machinelearning/pom.xml
  aws-android-sdk-mobile-client/pom.xml
  aws-android-sdk-mobileanalytics/pom.xml
  aws-android-sdk-pinpoint/pom.xml
  aws-android-sdk-polly/pom.xml
  aws-android-sdk-rekognition/pom.xml
  aws-android-sdk-s3/pom.xml
  aws-android-sdk-sdb/pom.xml
  aws-android-sdk-ses/pom.xml
  aws-android-sdk-sns/pom.xml
  aws-android-sdk-sqs/pom.xml
  aws-android-sdk-transcribe/pom.xml
  aws-android-sdk-translate/pom.xml
  pom.xml
Labels: Core, Pull Request

#807 run set_enviroment_variables before override_test_job in uitest job
  .circleci/config.yml
Labels: Infrastructure, Pull Request

#798 Fix supporting eu-north-1 region
  CHANGELOG.md
  aws-android-sdk-core/src/main/java/com/amazonaws/regions/RegionDefaults.java
  aws-android-sdk-core/src/test/java/com/amazonaws/regions/RegionTest.java
Labels: Core, Pull Request

#812 modify depend relationship of jobs. create pull request for model update
  .circleci/config.yml
Labels: Infrastructure, Pull Request

#818 [KinesisVideo] Fix integration tests
  aws-android-sdk-kinesisvideo-archivedmedia/build.gradle
  aws-android-sdk-kinesisvideo-archivedmedia/src/androidTest/java/com/amazonaws/services/kinesisvideoarchivedmedia/KinesisVideoArchivedMediaIntegrationTest.java
  aws-android-sdk-kinesisvideo-archivedmedia/src/androidTest/java/com/amazonaws/services/kinesisvideoarchivedmedia/KinesisVideoArchivedMediaIntegrationTestBase.java
  aws-android-sdk-kinesisvideo/src/androidTest/java/com/amazonaws/services/kinesisvideo/KinesisVideoIntegrationTest.java
Labels: Kinesis Video Streams, Pull Request

#824 models-update-kinesisvideo-2019-03-27-23-41
  aws-android-sdk-kinesisvideo/src/main/java/com/amazonaws/services/kinesisvideo/AWSKinesisVideo.java
  aws-android-sdk-kinesisvideo/src/main/java/com/amazonaws/services/kinesisvideo/AWSKinesisVideoClient.java
  aws-android-sdk-kinesisvideo/src/main/java/com/amazonaws/services/kinesisvideo/model/CreateStreamRequest.java
  aws-android-sdk-kinesisvideo/src/main/java/com/amazonaws/services/kinesisvideo/model/StreamInfo.java
  aws-android-sdk-kinesisvideo/src/main/java/com/amazonaws/services/kinesisvideo/model/TagStreamRequest.java
  aws-android-sdk-kinesisvideo/src/main/java/com/amazonaws/services/kinesisvideo/model/UpdateDataRetentionRequest.java
  aws-android-sdk-kinesisvideo/src/main/java/com/amazonaws/services/kinesisvideo/model/UpdateStreamRequest.java
  aws-android-sdk-kinesisvideo/src/main/java/com/amazonaws/services/kinesisvideo/model/VersionMismatchException.java
  aws-android-sdk-kinesisvideo/src/main/java/com/amazonaws/services/kinesisvideo/model/transform/CreateStreamRequestMarshaller.java
Labels: Kinesis Video Streams, Pull Request

#828 fixed credentials
  README.md
Labels: Documentation, Pull Request
