Repository aws-amplify/aws-sdk-android, pull requests merged in 2019-12, with the labels that each got.

#1366 [aws-android-sdk-lex] Update models to latest
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/PostContentResult.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/PostTextResult.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/transform/PostContentResultJsonUnmarshaller.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/transform/PostTextResultJsonUnmarshaller.java
Labels: Lex, Pull Request

#1368 [2.16.5] Add changelog entry
  CHANGELOG.md
Labels: Infrastructure, Pull Request

#1370 Remove activity related flags in notification intent
  CHANGELOG.md
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/NotificationClientBase.java
Labels: Pinpoint, Pull Request

#1374 Fix NumberFormatException in CognitoCachingCredentialsProvider
  aws-android-sdk-core-test/src/androidTest/java/com/amazonaws/internal/keyvaluestore/AWSKeyValueStoreIntegrationTest.java
  aws-android-sdk-core/src/main/java/com/amazonaws/auth/CognitoCachingCredentialsProvider.java
  aws-android-sdk-core/src/main/java/com/amazonaws/auth/CognitoCredentialsProvider.java
  aws-android-sdk-core/src/test/java/com/amazonaws/util/XpathUtilsTest.java
Labels: Core, Pull Request
