Repository aws-amplify/aws-sdk-android, pull requests merged in 2019-04, with the labels that each got.

#831 turn off Kinesis video archived media integration test
  .circleci/config.yml
Labels: Infrastructure, Pull Request

#855 Update federatedSignIn to immediately contact service; refresh Google…
  CHANGELOG.md
  aws-android-sdk-auth-google/src/main/java/com/amazonaws/mobile/auth/google/GoogleSignInProvider.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientTest.java
  aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java
  aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/UserStateDetails.java
Labels: AWSMobileClient, Pull Request

#851 Update changelog for model updates 2.12.7
  CHANGELOG.md
Labels: Autoscaling, Cognito, Core, Kinesis Video Streams, Pull Request

#779 Add TLS ALPN support for AWS IoT MQTT connections
  .circleci/config.yml
  CHANGELOG.md
  aws-android-sdk-iot-test/build.gradle
  aws-android-sdk-iot-test/proguard-rules.pro
  aws-android-sdk-iot/build.gradle
  aws-android-sdk-iot/pom.xml
  aws-android-sdk-iot/src/androidTest/java/com/amazonaws/mobileconnectors/iot/IoTIntegrationTestBase.java
  aws-android-sdk-iot/src/androidTest/java/com/amazonaws/mobileconnectors/iot/MqttManagerIntegrationTest.java
  aws-android-sdk-iot/src/main/AndroidManifest.xml
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManager.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotSslUtility.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotTLSSocketFactory.java
  aws-android-sdk-iot/src/main/res/values/strings.xml
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AWSIotSslUtilityTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/IntegrationTestBase.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/MqttManagerIntegrationTest.java
  settings.gradle
Labels: IoT, Pull Request

#860 [MobileClient] Fix drop-in UI initialization from awsconfiguration.json
  CHANGELOG.md
  aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java
Labels: AWSMobileClient, Pull Request

#865 [S3] Fix issue #616: fix the error handling for transfers when network disconnects
  CHANGELOG.md
  aws-android-sdk-s3-test/build.gradle
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/mobileconnectors/s3/transferutility/TransferServiceNetworkInstrumentedTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/mobileconnectors/s3/transferutility/TransferUtilityInstrumentedTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/mobileconnectors/s3/transferutility/TransferUtilityTestBase.java
  aws-android-sdk-s3-test/src/main/AndroidManifest.xml
  aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/DownloadTask.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/UploadTask.java
Labels: Pull Request, S3

#866 [MobileClient] Fix drop-in UI bug for repeated sign-in and drop-in UI…
  CHANGELOG.md
  aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java
Labels: AWSMobileClient, Pull Request

#868 Remove uitest from integration test list
  .circleci/config.yml
Labels: Infrastructure, Pull Request

#864 check sdk on maven
  .circleci/config.yml
  CircleciScripts/check_sdk_on_maven.py
Labels: Infrastructure, Pull Request

#776 Pinpoint fix #773
  CHANGELOG.md
  aws-android-sdk-pinpoint-test/.gitignore
  aws-android-sdk-pinpoint-test/build.gradle
  aws-android-sdk-pinpoint-test/proguard-rules.pro
  aws-android-sdk-pinpoint-test/src/androidTest/java/com/amazonaws/mobileconnectors/pinpoint/analytics/SubmitEventsIntegrationTest.java
  aws-android-sdk-pinpoint-test/src/main/AndroidManifest.xml
  aws-android-sdk-pinpoint-test/src/main/res/values/strings.xml
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/internal/event/EventRecorder.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/NotificationClientBase.java
  aws-android-sdk-pinpoint/src/test/java/com/amazonaws/mobileconnectors/pinpoint/internal/event/EventRecorderTest.java
  settings.gradle
Labels: Pinpoint, Pull Request

#874 Fix isAuthenticated in CognitoAuth caused by scopes unmarshalling
  .idea/modules.xml
  CHANGELOG.md
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/util/LocalDataManager.java
Labels: Cognito, Pull Request

#879 [CognitoAuth] Add tests for no scopes cache; fix diamond operator
  aws-android-sdk-cognitoauth/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoauth/LocalDataManagerIntegrationTest.java
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/AuthClient.java
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/util/LocalDataManager.java
Labels: Cognito, Pull Request

#891 Fix hosted ui error callback issue #328 #871
  CHANGELOG.md
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/AuthClient.java
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/util/ClientConstants.java
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/util/LocalDataManager.java
Labels: AWSMobileClient, Cognito, Pull Request

#893 [Pinpoint] Keep events in local database when there is a SocketException
  CHANGELOG.md
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/internal/event/EventRecorder.java
Labels: Pinpoint, Pull Request

#892 Skip contentMD5 validation when SSE-KMS key Id is present
  .idea/modules.xml
  CHANGELOG.md
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/AmazonS3ClientIntegrationTest.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/services/s3/internal/ServiceUtils.java
Labels: Pull Request, S3

#881 Enable the persistent session test and remove note disallowing use of persistent session
  CHANGELOG.md
  aws-android-sdk-iot/src/androidTest/java/com/amazonaws/mobileconnectors/iot/MqttManagerIntegrationTest.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManager.java
Labels: IoT, Pull Request

#886 bypass test in master by default
  .circleci/config.yml
Labels: Pull Request

#900 Make checking for TransferNetworkLossHandler optional.
  aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/UploadTask.java
Labels: Pull Request, S3

#915 models-update-polly-2019-04-22-17-06
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/DescribeVoicesRequest.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/DescribeVoicesResult.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/GetSpeechSynthesisTaskRequest.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/LanguageCode.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/LexiconAttributes.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/ListLexiconsRequest.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/ListLexiconsResult.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/ListSpeechSynthesisTasksRequest.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/ListSpeechSynthesisTasksResult.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/StartSpeechSynthesisTaskRequest.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/SynthesisTask.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/SynthesizeSpeechRequest.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/Voice.java
  aws-android-sdk-polly/src/main/java/com/amazonaws/services/polly/model/VoiceId.java
Labels: Polly, Pull Request

#916 models-update-transcribe-2019-04-22-17-06
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/CreateVocabularyRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/CreateVocabularyResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/GetVocabularyResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/LanguageCode.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/StartTranscriptionJobRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/TranscriptionJob.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/TranscriptionJobSummary.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/UpdateVocabularyRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/UpdateVocabularyResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/VocabularyInfo.java
Labels: Pull Request, Transcribe

#908 [Pinpoint] Add test for endpoint profile
  aws-android-sdk-pinpoint-test/src/androidTest/java/com/amazonaws/mobileconnectors/pinpoint/analytics/EndpointProfileIntegrationTest.java
Labels: Pinpoint, Pull Request

#907 [AWSKeyValueStore] Add diagnostic messages for key generation and loading in KeyProvider
  aws-android-sdk-core/src/main/java/com/amazonaws/internal/keyvaluestore/KeyProvider10.java
  aws-android-sdk-core/src/main/java/com/amazonaws/internal/keyvaluestore/KeyProvider18.java
  aws-android-sdk-core/src/main/java/com/amazonaws/internal/keyvaluestore/KeyProvider23.java
Labels: Core, Pull Request

#919 Added support for ap-east-1 'Asia Pacific (Hong Kong)' region
  CHANGELOG.md
  aws-android-sdk-core/src/main/java/com/amazonaws/regions/RegionDefaults.java
  aws-android-sdk-core/src/main/java/com/amazonaws/regions/Regions.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/services/s3/model/Region.java
Labels: Infrastructure, Pull Request

#922 [MobileClient] Expose network failures during API calls
  .idea/codeStyles/Project.xml
  .idea/vcs.xml
  CHANGELOG.md
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientNetworkIssueTest.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientTestBase.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientUITest.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AbstractAmazonCognitoIdentity.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AbstractAmazonCognitoIdentityProvider.java
  aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java
  aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/UserStateDetails.java
Labels: AWSMobileClient, Pull Request

#927 models-update-lambda-2019-04-29-16-08
  aws-android-sdk-lambda/src/main/java/com/amazonaws/services/lambda/AWSLambda.java
  aws-android-sdk-lambda/src/main/java/com/amazonaws/services/lambda/AWSLambdaClient.java
  aws-android-sdk-lambda/src/main/java/com/amazonaws/services/lambda/model/InvokeRequest.java
Labels: Lambda, Pull Request

#928 Added CircleCI badge to README
  README.md
Labels: Pull Request
