Repository aws-amplify/aws-sdk-android, pull requests merged in 2019-09, with the labels that each got.

#1184 Updated CHANGELOG.md
  CHANGELOG.md
Labels: Pull Request, SNS

#1214 [TransferUtility] Added integration test for uploading in unreliable network
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/mobileconnectors/s3/transferutility/SocketTimeoutIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/mobileconnectors/s3/transferutility/TaggingIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/S3IntegrationTestBase.java
Labels: Pull Request, S3

#1216 [delivers #167300863] Update paho version for iot sdk to 1.2.2
  CHANGELOG.md
  aws-android-sdk-iot/build.gradle
  aws-android-sdk-iot/pom.xml
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/MockMqttClient.java
Labels: IoT, Pull Request

#1225 [aws-android-sdk-transcribe] Update models to latest
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/CreateVocabularyRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/GetVocabularyResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/ListTranscriptionJobsRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/ListTranscriptionJobsResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/ListVocabulariesRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/ListVocabulariesResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/Media.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/StartTranscriptionJobRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/Transcript.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/TranscriptionJobSummary.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/UpdateVocabularyRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/StartTranscriptionJobRequestMarshaller.java
Labels: Pull Request, Transcribe

#1228 [aws-android-sdk-core-sts] Update models to latest
  aws-android-sdk-core/src/main/java/com/amazonaws/auth/policy/actions/SecurityTokenServiceActions.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/AWSSecurityTokenService.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/AWSSecurityTokenServiceClient.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/AssumeRoleWithSAMLRequest.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/AssumeRoleWithSAMLResult.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/DecodeAuthorizationMessageRequest.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/DecodeAuthorizationMessageResult.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/InvalidAuthorizationMessageException.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/transform/AssumeRoleWithSAMLRequestMarshaller.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/transform/AssumeRoleWithSAMLResultStaxUnmarshaller.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/transform/DecodeAuthorizationMessageRequestMarshaller.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/transform/DecodeAuthorizationMessageResultStaxUnmarshaller.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/transform/InvalidAuthorizationMessageExceptionUnmarshaller.java
Labels: Pull Request, STS

#1229 Update CHANGELOG.md
  CHANGELOG.md
Labels: Pull Request, STS
