Repository aws-amplify/aws-sdk-android, pull requests merged in 2019-08, with the labels that each got.

#1104 Fix sample source for UI tests
  .circleci/config.yml
Labels: Build, Pull Request

#1086 Add subscription status callback to subscribeToTopic
  CHANGELOG.md
  aws-android-sdk-iot/src/androidTest/java/com/amazonaws/mobileconnectors/iot/MqttManagerIntegrationTest.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManager.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttSubscriptionStatusCallback.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManagerTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/MockMqttClient.java
Labels: IoT, Pull Request

#1116 Fix GetObject tests to use SigV4 constructor
  CHANGELOG.md
  README.md
  aws-android-sdk-core/src/main/java/com/amazonaws/SDKGlobalConfiguration.java
  aws-android-sdk-ddb-mapper-test/src/androidTest/java/com/amazonaws/mobileconnectors/dynamodbv2/dynamodbmapper/DynamoDBS3IntegrationTestBase.java
  aws-android-sdk-ddb-mapper-test/src/androidTest/java/com/amazonaws/mobileconnectors/dynamodbv2/dynamodbmapper/S3ClientCacheIntegrationTest.java
  aws-android-sdk-ddb-mapper/src/test/java/com/amazonaws/mobileconnectors/dynamodbv2/dynamodbmapper/S3LinkTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/BucketNameValidationIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/CleanupBucketIntegrationTests.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/GetObjectIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/PresignedUrlIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/S3IntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/S3InterruptIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/S3SkipByteDigestIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/STSIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/V1BucketAddressingIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/model/GeneratePresignedUrlRequestIntegrationTest.java
  aws-android-sdk-s3/src/test/java/com/amazonaws/services/s3/Amazons3ClientTest.java
  aws-android-sdk-s3/src/test/java/com/amazonaws/services/s3/DefaultSigningMethodTest.java
  aws-android-sdk-s3/src/test/java/com/amazonaws/services/s3/TransferUtilityTest.java
  aws-android-sdk-s3/src/test/java/com/amazonaws/services/s3/internal/AWSS3V4SignerTest.java
Labels: Pull Request, S3, Tests

#1120 Remove the check for INTERNET and ACCESS_NETWORK_STATE permissions
  CHANGELOG.md
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/PinpointManager.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/internal/validate/PermissionValidator.java
Labels: Core, Pull Request

#1105 Shorten log tag length
  CHANGELOG.md
  aws-android-sdk-core/src/main/java/com/amazonaws/logging/LogFactory.java
Labels: Core, Pull Request

#1121 Remove unused `mfaOption` property from CognitoUserAttributes class
  CHANGELOG.md
  aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/CognitoUserAttributes.java
Labels: Cognito, Pull Request

#1127 Removing legacy uitest
  .circleci/config.yml
Labels: Pull Request, Tests

#1135 Update CHANGELOG.md
  CHANGELOG.md
Labels: Documentation, Pull Request

#1138 Fix tagging for multipart upload
  CHANGELOG.md
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/TransferUtilityIntegrationTest.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/UploadTask.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/services/s3/AmazonS3Client.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/services/s3/model/AbstractPutObjectRequest.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/services/s3/model/InitiateMultipartUploadRequest.java
Labels: Pull Request, S3

#1139 Add changelog entry for keyvaluestore fix
  CHANGELOG.md
Labels: Core, Pull Request

#1144 [finishes #167549816] User internal username for computing secret hash that is passed in challenge response
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/CognitoUserIntegrationTest.java
  aws-android-sdk-cognitoidentityprovider-test/src/androidTest/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/CognitoUserPoolsIntegrationTestBase.java
  aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/CognitoUser.java
Labels: Cognito, Pull Request

#1142 [aws-android-sdk-connect] Update models to latest
  aws-android-sdk-connect/src/main/java/com/amazonaws/services/connect/AmazonConnectClient.java
Labels: Connect, Pull Request

#1150 [AWSMobileClient] Fix the object lifecycle of hostedUI
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/Auth.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientNetworkIssueTest.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientPersistenceWithRestartabilityTest.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientTest.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientTestBase.java
  aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java
Labels: Cognito, Pull Request

#1151 Fixed package name
  aws-android-sdk-connect-test/src/androidTest/java/com/amazonaws/services/connect/ConnectInstrumentedTest.java
  aws-android-sdk-connect-test/src/main/AndroidManifest.xml
Labels: Connect, Pull Request

#1107 Return userSub in the SignUpResult returned upon successful sign up
  CHANGELOG.md
  aws-android-sdk-auth-userpools/src/main/java/com/amazonaws/mobile/auth/userpools/SignUpActivity.java
  aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/CognitoUserPool.java
  aws-android-sdk-cognitoidentityprovider/src/main/java/com/amazonaws/mobileconnectors/cognitoidentityprovider/handlers/SignUpHandler.java
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientTest.java
  aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java
  aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/results/SignUpResult.java
Labels: AWSMobileClient, Cognito, Pull Request
