Repository aws-amplify/aws-sdk-android, pull requests merged in 2019-05, with the labels that each got.

#962 [MobileClient] Update test with new interface changes
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AbstractAmazonCognitoIdentityProvider.java
Labels: AWSMobileClient, Pull Request

#965 models-update-comprehend-2019-05-19-13-00
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/CreateDocumentClassifierRequest.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/CreateEntityRecognizerRequest.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/DocumentClassificationJobProperties.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/DocumentClassifierProperties.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/DominantLanguageDetectionJobProperties.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/EntitiesDetectionJobProperties.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/EntityRecognizerProperties.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/KeyPhrasesDetectionJobProperties.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/SentimentDetectionJobProperties.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/StartDocumentClassificationJobRequest.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/StartDominantLanguageDetectionJobRequest.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/StartEntitiesDetectionJobRequest.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/StartKeyPhrasesDetectionJobRequest.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/StartSentimentDetectionJobRequest.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/StartTopicsDetectionJobRequest.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/TopicsDetectionJobProperties.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/VpcConfig.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/CreateDocumentClassifierRequestMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/CreateEntityRecognizerRequestMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/DocumentClassificationJobPropertiesJsonMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/DocumentClassificationJobPropertiesJsonUnmarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/DocumentClassifierPropertiesJsonMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/DocumentClassifierPropertiesJsonUnmarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/DominantLanguageDetectionJobPropertiesJsonMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/DominantLanguageDetectionJobPropertiesJsonUnmarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/EntitiesDetectionJobPropertiesJsonMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/EntitiesDetectionJobPropertiesJsonUnmarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/EntityRecognizerPropertiesJsonMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/EntityRecognizerPropertiesJsonUnmarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/KeyPhrasesDetectionJobPropertiesJsonMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/KeyPhrasesDetectionJobPropertiesJsonUnmarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/SentimentDetectionJobPropertiesJsonMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/SentimentDetectionJobPropertiesJsonUnmarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/StartDocumentClassificationJobRequestMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/StartDominantLanguageDetectionJobRequestMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/StartEntitiesDetectionJobRequestMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/StartKeyPhrasesDetectionJobRequestMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/StartSentimentDetectionJobRequestMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/StartTopicsDetectionJobRequestMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/TopicsDetectionJobPropertiesJsonMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/TopicsDetectionJobPropertiesJsonUnmarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/VpcConfigJsonMarshaller.java
  aws-android-sdk-comprehend/src/main/java/com/amazonaws/services/comprehend/model/transform/VpcConfigJsonUnmarshaller.java
Labels: Comprehend, Pull Request

#966 models-update-transcribe-2019-05-19-13-00
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/CreateVocabularyRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/CreateVocabularyResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/GetVocabularyResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/LanguageCode.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/StartTranscriptionJobRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/TranscriptionJob.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/TranscriptionJobSummary.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/UpdateVocabularyRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/UpdateVocabularyResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/VocabularyInfo.java
Labels: Pull Request, Transcribe

#969 Change failure assertion during setIdentityDkimEnabled
  aws-android-sdk-ses-test/src/androidTest/java/com/amazonaws/services/email/IdentityIntegrationTest.java
Labels: Pull Request, SES, Tests

#971 Remove trailing zeros before putting frame into SDK
  aws-android-sdk-kinesisvideo/src/androidTest/java/com/amazonaws/services/kinesisvideo/KinesisVideoFrameTest.java
  aws-android-sdk-kinesisvideo/src/main/java/com/amazonaws/kinesisvideo/producer/KinesisVideoFrame.java
Labels: Kinesis Video Streams, Pull Request

#974 [KinesisVideo] Update changelog 2.13.5
  CHANGELOG.md
Labels: Kinesis Video Streams, Pull Request

#662 Cognito auth fallback external browser
  aws-android-sdk-cognitoauth/.gitignore
  aws-android-sdk-cognitoauth/.idea/codeStyles/Project.xml
  aws-android-sdk-cognitoauth/.idea/inspectionProfiles/Project_Default.xml
  aws-android-sdk-cognitoauth/.idea/misc.xml
  aws-android-sdk-cognitoauth/.idea/runConfigurations.xml
  aws-android-sdk-cognitoauth/gradle/wrapper/gradle-wrapper.jar
  aws-android-sdk-cognitoauth/gradle/wrapper/gradle-wrapper.properties
  aws-android-sdk-cognitoauth/gradlew
  aws-android-sdk-cognitoauth/gradlew.bat
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/AuthClient.java
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/util/ClientConstants.java
  aws-android-sdk-cognitoauth/src/main/java/com/amazonaws/mobileconnectors/cognitoauth/util/CustomTabsHelper.java
Labels: Cognito, Pull Request

#961 [S3][TransferUtility] Register TransferListener before submitting a transfer job
  CHANGELOG.md
  aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/TransferUtility.java
Labels: Pull Request, S3

#976 [bump version 2.13.5]
  aws-android-sdk-apigateway-core/pom.xml
  aws-android-sdk-auth-core/pom.xml
  aws-android-sdk-auth-facebook/pom.xml
  aws-android-sdk-auth-google/pom.xml
  aws-android-sdk-auth-ui/pom.xml
  aws-android-sdk-auth-userpools/pom.xml
  aws-android-sdk-autoscaling/pom.xml
  aws-android-sdk-cloudwatch/pom.xml
  aws-android-sdk-cognito/pom.xml
  aws-android-sdk-cognito/src/main/resources/fabric/com.amazonaws.aws-android-sdk-cognito.properties
  aws-android-sdk-cognitoauth/pom.xml
  aws-android-sdk-cognitoidentityprovider/pom.xml
  aws-android-sdk-comprehend/pom.xml
  aws-android-sdk-core/pom.xml
  aws-android-sdk-core/src/main/java/com/amazonaws/util/VersionInfoUtils.java
  aws-android-sdk-core/src/main/resources/fabric/com.amazonaws.aws-android-sdk-core.properties
  aws-android-sdk-core/src/test/java/com/amazonaws/util/VersionInfoUtilsTest.java
  aws-android-sdk-ddb-document/pom.xml
  aws-android-sdk-ddb-mapper/pom.xml
  aws-android-sdk-ddb/pom.xml
  aws-android-sdk-ec2/pom.xml
  aws-android-sdk-elb/pom.xml
  aws-android-sdk-iot/pom.xml
  aws-android-sdk-kinesis/pom.xml
  aws-android-sdk-kinesisvideo-archivedmedia/pom.xml
  aws-android-sdk-kinesisvideo/pom.xml
  aws-android-sdk-kms/pom.xml
  aws-android-sdk-lambda/pom.xml
  aws-android-sdk-lex/pom.xml
  aws-android-sdk-logs/pom.xml
  aws-android-sdk-machinelearning/pom.xml
  aws-android-sdk-mobile-client/pom.xml
  aws-android-sdk-mobileanalytics/pom.xml
  aws-android-sdk-pinpoint/pom.xml
  aws-android-sdk-polly/pom.xml
  aws-android-sdk-rekognition/pom.xml
  aws-android-sdk-s3/pom.xml
  aws-android-sdk-sdb/pom.xml
  aws-android-sdk-ses/pom.xml
  aws-android-sdk-sns/pom.xml
  aws-android-sdk-sqs/pom.xml
  aws-android-sdk-transcribe/pom.xml
  aws-android-sdk-translate/pom.xml
  pom.xml
Labels: Pull Request

#980 Fix unquoted variables in release script
  .circleci/config.yml
  CircleciScripts/maven_release.sh
Labels: Build, Infrastructure, Pull Request

#983 models-update-transcribe-2019-05-29-02-24
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/CreateVocabularyRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/CreateVocabularyResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/GetVocabularyResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/LanguageCode.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/StartTranscriptionJobRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/TranscriptionJob.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/TranscriptionJobSummary.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/UpdateVocabularyRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/UpdateVocabularyResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/VocabularyInfo.java
Labels: Pull Request, Transcribe

#982 models-update-sts-2019-05-29-02-24
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/AWSSecurityTokenService.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/AWSSecurityTokenServiceClient.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/AssumeRoleRequest.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/AssumeRoleWithWebIdentityRequest.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/model/GetFederationTokenRequest.java
  aws-android-sdk-core/src/main/java/com/amazonaws/services/securitytoken/package-info.java
Labels: Pull Request, STS
