Repository aws-amplify/aws-sdk-android, pull requests merged in 2019-10, with the labels that each got.

#1238 Update CHANGELOG.md
  CHANGELOG.md
Labels: Pull Request

#1219 Update pom.xml
  pom.xml
Labels: Infrastructure, Pull Request

#1239 Iot min/target SDK specification
  CHANGELOG.md
  aws-android-sdk-iot/src/main/AndroidManifest.xml
Labels: IoT, Pull Request

#1243 Fix integration tests
  .circleci/config.yml
  aws-android-sdk-pinpoint-test/src/androidTest/java/com/amazonaws/mobileconnectors/pinpoint/analytics/EndpointProfileIntegrationTest.java
  aws-android-sdk-pinpoint-test/src/androidTest/java/com/amazonaws/mobileconnectors/pinpoint/analytics/SubmitEventsIntegrationTest.java
Labels: Pinpoint, Pull Request

#1128 Gson fix
  CHANGELOG.md
  aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/TransferNetworkConnectionType.java
  aws-android-sdk-s3/src/test/java/com/amazonaws/mobileconnectors/s3/transferutility/GsonSerializationTest.java
Labels: Pull Request, S3

#1251 [aws-android-sdk-kinesis-firehose] Update models to latest
  aws-android-sdk-kinesis/src/main/java/com/amazonaws/services/kinesisfirehose/AmazonKinesisFirehose.java
  aws-android-sdk-kinesis/src/main/java/com/amazonaws/services/kinesisfirehose/AmazonKinesisFirehoseClient.java
  aws-android-sdk-kinesis/src/main/java/com/amazonaws/services/kinesisfirehose/model/PutRecordBatchRequest.java
  aws-android-sdk-kinesis/src/main/java/com/amazonaws/services/kinesisfirehose/model/ServiceUnavailableException.java
Labels: Kinesis, Pull Request

#1252 [aws-android-sdk-lex] Update models to latest
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/AmazonLexRuntime.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/AmazonLexRuntimeClient.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/GetSessionRequest.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/GetSessionResult.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/IntentSummary.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/PostTextRequest.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/PutSessionRequest.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/transform/GetSessionRequestMarshaller.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/transform/IntentSummaryJsonMarshaller.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/transform/IntentSummaryJsonUnmarshaller.java
  aws-android-sdk-lex/src/main/java/com/amazonaws/services/lexrts/model/transform/PutSessionRequestMarshaller.java
Labels: Lex, Pull Request

#1271 [bump version 2.16.2]
  aws-android-sdk-apigateway-core/pom.xml
  aws-android-sdk-auth-core/pom.xml
  aws-android-sdk-auth-facebook/pom.xml
  aws-android-sdk-auth-google/pom.xml
  aws-android-sdk-auth-ui/pom.xml
  aws-android-sdk-auth-userpools/pom.xml
  aws-android-sdk-autoscaling/pom.xml
  aws-android-sdk-cloudwatch/pom.xml
  aws-android-sdk-cognito/pom.xml
  aws-android-sdk-cognito/src/main/resources/fabric/com.amazonaws.aws-android-sdk-cognito.properties
  aws-android-sdk-cognitoauth/pom.xml
  aws-android-sdk-cognitoidentityprovider/pom.xml
  aws-android-sdk-comprehend/pom.xml
  aws-android-sdk-connect/pom.xml
  aws-android-sdk-core/pom.xml
  aws-android-sdk-core/src/main/java/com/amazonaws/util/VersionInfoUtils.java
  aws-android-sdk-core/src/main/resources/fabric/com.amazonaws.aws-android-sdk-core.properties
  aws-android-sdk-core/src/test/java/com/amazonaws/util/VersionInfoUtilsTest.java
  aws-android-sdk-ddb-document/pom.xml
  aws-android-sdk-ddb-mapper/pom.xml
  aws-android-sdk-ddb/pom.xml
  aws-android-sdk-ec2/pom.xml
  aws-android-sdk-elb/pom.xml
  aws-android-sdk-iot/pom.xml
  aws-android-sdk-kinesis/pom.xml
  aws-android-sdk-kinesisvideo-archivedmedia/pom.xml
  aws-android-sdk-kinesisvideo/pom.xml
  aws-android-sdk-kms/pom.xml
  aws-android-sdk-lambda/pom.xml
  aws-android-sdk-lex/pom.xml
  aws-android-sdk-logs/pom.xml
  aws-android-sdk-machinelearning/pom.xml
  aws-android-sdk-mobile-client/pom.xml
  aws-android-sdk-mobileanalytics/pom.xml
  aws-android-sdk-pinpoint/pom.xml
  aws-android-sdk-polly/pom.xml
  aws-android-sdk-rekognition/pom.xml
  aws-android-sdk-s3/pom.xml
  aws-android-sdk-sagemaker-runtime/pom.xml
  aws-android-sdk-sdb/pom.xml
  aws-android-sdk-ses/pom.xml
  aws-android-sdk-sns/pom.xml
  aws-android-sdk-sqs/pom.xml
  aws-android-sdk-textract/pom.xml
  aws-android-sdk-transcribe/pom.xml
  aws-android-sdk-translate/pom.xml
  pom.xml
Labels: Infrastructure, Pull Request
