Repository aws-amplify/aws-sdk-android, pull requests merged in 2020-04, with the labels that each got.

#1542 Rjuliano/journeys
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/analytics/AnalyticsClient.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/analytics/SessionClient.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/ADMNotificationClient.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/BaiduNotificationClient.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/EventSourceType.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/GCMNotificationClient.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/NotificationClient.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/NotificationClientBase.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/PinpointNotificationReceiver.java
  aws-android-sdk-pinpoint/src/test/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/ADMNotificationClientTest.java
  aws-android-sdk-pinpoint/src/test/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/BaiduNotificationClientTest.java
  aws-android-sdk-pinpoint/src/test/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/FCMNotificationClientTest.java
  aws-android-sdk-pinpoint/src/test/java/com/amazonaws/mobileconnectors/pinpoint/targeting/notification/GCMNotificationClientTest.java
Labels: Pinpoint

#1538 [s3] Remove unnecessary public access to S3 buckets created under test
  CircleciScripts/cleanup_aws.sh
  CircleciScripts/cleanup_test_s3_buckets.sh
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/auth/policy/S3PolicyIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/mobileconnectors/s3/transferutility/PauseTransferIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/mobileconnectors/s3/transferutility/SocketTimeoutIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/mobileconnectors/s3/transferutility/TaggingIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/AccelerateIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/AclIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/AmazonS3ClientIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/BucketCrossOriginConfigurationIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/BucketLifecycleConfigurationIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/BucketPolicyIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/BucketReplicationIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/CleanupBucketIntegrationTests.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/CopyObjectIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/GetObjectIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/LifecycleVersioningIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/MultiPartUploadsIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/PutFileIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/S3IntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/S3ListObjectsIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/S3ListObjectsV2IntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/STSIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/ServerSideEncryptionWithCustomerKeyIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/SpecialObjectKeyNameIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/StorageClassIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/UnauthenticatedIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/V1BucketAddressingIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/VersioningIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/iterable/S3ObjectsIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/iterable/S3VersionsIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/model/GeneratePresignedUrlRequestIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/services/s3/model/UrlEncodingIntegrationTest.java
Labels: Infrastructure

#1571 [aws-android-sdk-transcribe] Update models to latest
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/AmazonTranscribe.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/AmazonTranscribeAsync.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/AmazonTranscribeAsyncClient.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/AmazonTranscribeClient.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/ContentRedaction.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/DeleteMedicalTranscriptionJobRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/GetMedicalTranscriptionJobRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/GetMedicalTranscriptionJobResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/JobExecutionSettings.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/ListMedicalTranscriptionJobsRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/ListMedicalTranscriptionJobsResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/ListVocabulariesRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/ListVocabularyFiltersResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/MedicalTranscript.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/MedicalTranscriptionJob.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/MedicalTranscriptionJobSummary.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/MedicalTranscriptionSetting.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/Settings.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/Specialty.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/StartMedicalTranscriptionJobRequest.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/StartMedicalTranscriptionJobResult.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/Type.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/DeleteMedicalTranscriptionJobRequestMarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/GetMedicalTranscriptionJobRequestMarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/GetMedicalTranscriptionJobResultJsonUnmarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/ListMedicalTranscriptionJobsRequestMarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/ListMedicalTranscriptionJobsResultJsonUnmarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/MedicalTranscriptJsonMarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/MedicalTranscriptJsonUnmarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/MedicalTranscriptionJobJsonMarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/MedicalTranscriptionJobJsonUnmarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/MedicalTranscriptionJobSummaryJsonMarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/MedicalTranscriptionJobSummaryJsonUnmarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/MedicalTranscriptionSettingJsonMarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/MedicalTranscriptionSettingJsonUnmarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/StartMedicalTranscriptionJobRequestMarshaller.java
  aws-android-sdk-transcribe/src/main/java/com/amazonaws/services/transcribe/model/transform/StartMedicalTranscriptionJobResultJsonUnmarshaller.java
Labels: Pull Request

#1543 [IoT] Support for custom domain and enhanced custom auth flow
  aws-android-sdk-iot/src/androidTest/java/com/amazonaws/mobileconnectors/iot/MqttManagerIntegrationTest.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManager.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/mobileconnectors/iot/AWSIotWebSocketUrlSigner.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/AWSIotMqttManagerTest.java
  aws-android-sdk-iot/src/test/java/com/amazonaws/mobileconnectors/iot/TopicMatchTest.java
Labels: IoT

#1651 Use profile to retrieve resources from S3 during build & test
  .circleci/config.yml
Labels: Infrastructure
