Repository aws-amplify/aws-sdk-android, pull requests merged in 2020-03, with the labels that each got.

#1514 [aws-android-sdk-iot] Update models to latest
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/AWSIot.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/AWSIotClient.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/model/Action.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/model/CloudwatchLogsAction.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/model/CreateThingGroupRequest.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/model/CreateThingRequest.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/model/DescribeEndpointRequest.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/model/RegisterThingRequest.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/model/UpdateCertificateRequest.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/model/transform/ActionJsonMarshaller.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/model/transform/ActionJsonUnmarshaller.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/model/transform/CloudwatchLogsActionJsonMarshaller.java
  aws-android-sdk-iot/src/main/java/com/amazonaws/services/iot/model/transform/CloudwatchLogsActionJsonUnmarshaller.java
Labels: IoT

#1528 Rjuliano/pwdfix
  aws-android-sdk-mobile-client/src/androidTest/java/com/amazonaws/mobile/client/AWSMobileClientTest.java
  aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobile/client/AWSMobileClient.java
Labels: AWSMobileClient

#1535 Add user attributes to endpoint profile user
  CHANGELOG.md
  aws-android-sdk-pinpoint-test/src/androidTest/java/com/amazonaws/mobileconnectors/pinpoint/analytics/EndpointProfileIntegrationTest.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/internal/event/EventRecorder.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/targeting/TargetingClient.java
  aws-android-sdk-pinpoint/src/main/java/com/amazonaws/mobileconnectors/pinpoint/targeting/endpointProfile/EndpointProfileUser.java
Labels: Pinpoint, Pull Request

#1536 Fix multipart upload pause
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/mobileconnectors/s3/transferutility/PauseTransferIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/mobileconnectors/s3/transferutility/SocketTimeoutIntegrationTest.java
  aws-android-sdk-s3-test/src/androidTest/java/com/amazonaws/mobileconnectors/s3/transferutility/TaggingIntegrationTest.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/DownloadTask.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/TransferRecord.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/TransferStatusUpdater.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/UploadPartTask.java
  aws-android-sdk-s3/src/main/java/com/amazonaws/mobileconnectors/s3/transferutility/UploadTask.java
Labels: Pull Request, S3
